<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TEAMS2HA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TEAMS2HA.Properties.Settings>
            <setting name="TeamsToken" serializeAs="String">
                <value />
            </setting>
            <setting name="HomeassistantURL" serializeAs="String">
                <value />
            </setting>
            <setting name="RunAtWindowsBoot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunMinimised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HomeassistantToken" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstTimeRunningThisVersion" serializeAs="String">
                <value>True</value>
            </setting>
        </TEAMS2HA.Properties.Settings>
    </userSettings>
</configuration>